*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#contain{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
#leftbar{
    width: 18%;
    padding-top: 40px;
    padding-left: 30px;
    background-color: aqua;
    height: 460px;
}
#logo{
    width: 40%;
    height: 50px;
    border: solid;
}
#menu{
    width: 75%;
    margin-top: 30px;
    height: 300px;
    border: solid;
}
.list{
    width: 98%;
    height:50px;
    border: solid;
    margin-bottom: 10px;
    display: flex;
}
#icon{
    width: 40%;
    height: 45px;
    border: solid;
}
.list p{
    margin-top:10px ;
    margin-left: 5px;
    color: red;
}
.list p:nth-child(1){
    color: black;
}
