*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#contain{
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    display: flex;
}
#leftbar{
    width: 16%;
    padding-top: 50px;
    padding-left: 30px;
    height: 610px;
}
#logo{
    width: 40%;
    height: 50px;
    border: solid;
}
#menu{
    width: 85%;
    margin-top: 40px;
    padding-top: 30px;
    height: 330px;
    border: solid;
}
.list{
    width: 98%;
    height:50px;
    margin-bottom: 10px;
    display: flex;
}
#icon{
    width: 20%;
    height: 25px;
    border: solid;
}
#leftbar p{
    margin-top:2px ;
    margin-left: 15px;
    color: gainsboro;
}
#p-dash{
    color: black;
}
#main{
   width: 68%; 
   height: 610px;
   padding-left: 40px;
    padding-right: 30px;
    padding-top: 110px;
   background-color: rgb(228, 225, 225);
}
#banner{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: blue;
    border-radius: 20px;
}
.text{
    color: white;
    margin-top: 50px;
    margin-left: 40px;
}
.img{
    width: 40%;
    height: 100%;
    margin-left: 27%;
    border: solid;
}
#words{
    margin: 30px;
}
#cardwrap{
    width: 100%;
    height: 270px;
    margin-top: 20px;
    border: solid;
}
#row{
    display: flex;
}
.card{
    width: 400px;
    margin: 10px;
    height: 120px;
    display: flex;
    border-radius: 10px;
    background-color: white;
}
.card2{
    width: 400px;
    margin-left: 10px;
    padding-top: 15px;
    display: flex;
    height: 120px;
    border-radius: 10px;
    background-color: white;
}

.card p{
    margin-top: 30px;
    margin-left: 30px;
}
.card2 p{
    margin-left: 30px;
    margin-top: 30px;
}
#mainicon{
    width: 30px;
    height: 30px;
    border: solid;
    margin-top: 45px;
    margin-left: 90px;
}
